.hamburgerLines {
    height: 23px;
    width: 25px;
    position: absolute;
    top: 4%;
    left: 3%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerLines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #352983;
}

.line1 {
    transform: rotate(-46deg) translateX(-7px);
}

.line2 {
    transform: rotate(46deg) translateX(-12px) translateY(-7px);
}