.menu {
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.menuList {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	order: 2;
	list-style: none;
}

.menuList li {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

.menuLogo {
	padding: 2%;
}

.menuTitle {
	margin: 0;
}

.menuListLink {
	text-decoration: none;
	color: #1400A2;
}

.menuListLink:hover {
	color: #1400A2;
}

.menuListLinkActive {
	color: #352983;
	text-decoration: none;
	border-bottom: 1px solid #1400A2;
}

.menuListLinkActive:after,
.menuListLink:after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #1400A2;
	transition: width .3s;
}

.menuListLinkActive:hover::after,
.menuListLink:hover::after{
	width: 100%;
	transition: width .3s;
}

@media (min-width: 500px ) {
	.hamburgerLines {
		top: 5%;
		left: 5%;
	}
}

@media only screen and (min-width: 970px) {
	.menu {
		flex-direction: row;
		align-items: baseline;
	}

	.menuList {
		flex-direction: row;
		order: 0;
		width: 30%;
	}

	.menuRight {
		flex-shrink: 1;
	}

	.menuList li {
		padding: 3%;
		width: auto;
	}

}