.about {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.picture {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .about {
        justify-content: space-between;
    }

    .picture {
        margin: 0;
    }

    .description {
        width: 45%;
    }
}